@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #173144;
}

header {
  background-color: #4aa3e2;
  color: white;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

header img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(4, 21, 118, 0.1);
  border-radius: 8px;
}

footer {
  background-color: #4aa3e2;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}

.footer-content a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}


.footer-content img {
  background: white;
  height: 30px;
  vertical-align: middle;
}